@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
  }

  .page-header {
    color: #ffffff;
    background-color: #000000;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .navigation-list {
    width: 430px;
    margin: 0;
    padding: 0;
  }


  .navigation-link {
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase; 
  }

  .navigation-logo {
    width: 139px;
    margin-right: 47px;
  }

    .navigation-user {
      max-width: 300px;
      margin-left: auto;
    }

  .main-container {
    flex-grow: 1;
  }
  
  .main-index {
    color: #ffffff;
    background-color: #000000;
    background-image: url("images/background-image.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }



  .reasons-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }


  .reasons-list li {
    width: 400px;
    display: block;
    flex-direction: row;
    justify-content:center;
    margin: 0;
    padding: 0;
  }


  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .main-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }


  .appointment {
    width: 1200px;
    margin: 0 auto;
  }

  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }


.contacts {
  font-weight: 700;
}

.subscription {
  width: 800px;
  margin: 0 auto;
}

.footer-social {
  width: 137px;
  margin-left: 72px;
  margin-right: 31px;
}

.footer-contacts {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.about-text {
  width: 115px;
  margin-right: 72px;
  margin-left: auto;
}

.button newsletter-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #83B3D3;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}


.inner-header-title {
  font-size: 60px;
  line-height: 77px;
  font-weight: 700;
  text-transform: uppercase;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-products {
display: flex;
}

.catalog-filter {
width: 1057px;
margin-left: 72px;
margin-right: 72px;
}

.catalog-right-column {
width: 1056px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.control-label {
  font-weight: 700;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.product-card {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}



.pagination {
  background-color: #83B3D3;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #F2F2F2;
}

.product-card-about button{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-about button{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}