@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: auto;
    width: 1200px;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    background-color: #f2f2f2;
    color: #333333;
    
  }

  .container-main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  }

  .container-hotels {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

  }


  .page-header {
    color: #000000;
    background-color: #ffffff;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .navigation-list {
    width: 430px;
    margin: 0;
    padding: 0;
  }


  .navigation-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: initial; 
  }

  .navigation-logo {
    width: 139px;
    margin-right: 47px;
  }

  .navigation-show {
  font-family: inherit;
  width: 160px;
  height: 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
  border: 0;
  border-radius: 4px;
  }


    .navigation-user {
      max-width: 300px;
      margin-left: auto;
    }

  .main-container {
    flex-grow: 1;
  }
  
  .main-index {
    color: #333333;
    background-color: #ffffff;
    background-image: url("images.index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }


  .reasons-title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
  }

  .advices-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }


  .first {
    color: #ffffff;
    background-color: #83B3D3;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    margin: 0 0;
    flex-basis:auto;
    display: inline-block;

  }




  .home {
    color: #333333;
    background-color: #F0F6FA;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    width: 400px;
    margin: 0 0;
    flex-basis:auto;
  }

  .food {
    color: #333333;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    margin: 0 0;
    flex-basis:auto;
  }

  .souvenirs {
    color: #333333;
    background-color: #F0F6FA;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    margin: 0 0;
    flex-basis:auto;
  }

  .second {
    color: #ffffff;
    background-color: #83B3D3;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    flex-basis:auto;
    display: inline-block;

  }


  .third {
    color: #333333;
    background-color: #F0F6FA;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    flex-basis:auto;
    display: inline-block;

  }

.fourth {
    color: #333333;
    background-color: #E6F0F6;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    flex-basis:auto;
    display: inline-block;
}


.fifth {
  color: #333333;
    background-color: #F0F6FA;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    flex-basis:auto;  
    display: block;
}

  .button {
    font-family: inherit;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
  }

  .main-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .reasons-top {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }


  .appointment {
    width: 1200px;
    margin: 0 0;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: stretch;
  }


  .appointment-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  }


  .appointment-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
  }


  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

.search-hotel {
width: 575px;
height: 60px;
font-size: 20px;
font-weight: 700;
line-height: 36px;
color: #ffffff;
background-color: #756257;
border-radius: 10px;
border: 0;
text-transform: uppercase;
font-family: inherit;
}

.contacts {
  font-weight: 700;
}

p .subscription-footer {
  position: absolute;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}


.subscription-title {
position: absolute;
font-size: 30px;
line-height: 36px;
font-weight: 700;
color: #ffffff;
text-transform: uppercase;
}


.footer-social {
  width: 137px;
  margin-left: 72px;
  margin-right: 31px;
}

.footer-contacts {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

a { 
  color:#000000; 
  text-decoration:none;
}

.about-text {
  width: 115px;
  margin-right: 72px;
  margin-left: auto;
}

.newsletter-button {
  width: 200px;
  height: 61px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #83B3D3;
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*.input {
  width: 600px;
  height: 60px;
  color: #F2F2F2;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
*/


.filter-apply {
width: 160px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #83B3D3;
  border: 0;
}

.filter-reset {
width: 160px;
height: 23px;
font-weight: 400;
font-size: 18px;
color: #ffffff;
border: 0;
}


.inner-header-title {
  font-size: 60px;
  line-height: 77px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
}

article {
display: flex;
flex-direction: row;
align-items:stretch;
}

.catalog-filter {
width: 1057px;
margin-left: 72px;
margin-right: 72px;
}

.catalog-filter-item {
  line-height: 23px;
  color: #ffffff;
}

.catalog-right-column {
width: 1056px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
}

.control-label {
  font-weight: 700;
}

.results-all {
font-size: 30px;
font-weight: 700;
line-height: 38px;
color: #000000;
text-transform: uppercase;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.product-card {
  background-color: #ffffff;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}

.product-card-link {
  text-decoration: none;
}

.catalog-type-hotels {
font-size: 18px;
line-height: 23px;
font-weight: 400 ;
color: #333333;
}

.product-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400 ;
  color: #333333;
  }


.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}


.to-favorites {
width: 140px;
height: 37px;
font-size: 16px;
font-weight: 700;
color: #ffffff;
background-color: #83B3D3;
border: 0;
text-transform: uppercase;
}


.favorites {
  width: 140px;
  height: 37px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #7DB54F;
  border: 0;
  text-transform: uppercase;
  }




.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;

}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}


.pagination-item {
width: 55px;
height: 55px;
font-size: 20px;
line-height: 25px;
font-weight: 700;
text-align: center;
color: #ffffff;
background-color: #83B3D3;
border: 0px;
padding: 14px 14px;
border-radius: 4px;
display: inline;
margin-right: 8px;
}


.pagination-disabled {
  color: #000000;
  background-color: #F2F2F2;
  padding: 14px 14px;
  border-color: #F2F2F2;
}

.product-card-about {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  padding: 8px 23px;
}


.hotel-rating {
font-size: 16px;
font-weight: 400;
color: #ffffff;
background-color: #f2f2f2;
text-transform: uppercase;
padding: 8px 33px;
border-radius: 4px;
}

.pagination-show-more {
width: 619px;
height: 60px;
font-size: 20px;
font-weight: 700;
color: #ffffff;
background-color: #83B3D3;
text-transform: uppercase;
border: 0px;

}