@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}
  
@font-face {
font-family: "PT Sans";
font-style: bold;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}

html {
height: 100%;
}

body {
margin: auto;
width: 1200px;
flex-direction: column;
min-height: 100%;
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height: 21px;
display: flex;
background-color: #F2F2F2;
color: #333333;
padding: 0;
}


.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}


.container {
width: 1200px;
margin-left: auto;
margin-right: auto;
background-color: #ffffff;
}


.page-header {
color: #000000;
background-color: #ffffff;
}

.navigation {
display: flex;
width: 1200px;
margin: 0 auto;
}


.navigation-list {
display: flex;
flex-wrap: wrap; 
width: 700px;
margin: 0;
padding: 0;
list-style-type: none;
}

.navigation-link {
display: block;
padding: 20px 19px;
font-size: 20px;
font-weight: 700;
line-height: 26px;
text-align: center;
color: #000000;
text-decoration: none;
text-transform: initial; 
}

.navigation-logo {
width: 139px;
margin-right: 47px;
}

.navigation-show {
font-family: inherit;
width: 160px;
height: 37px;
font-size: 16px;
font-weight: 700;
line-height: 20px;
color: #ffffff;
background-color: #756257;
border: 0;
border-radius: 4px;
margin-top: 13px;
}


.navigation-user {
max-width: 300px;
margin-left: auto;
}

.navigation-user .navigation-link {
min-width: 18px;
min-height: 18px;
}

.main-container {
flex-grow: 1;
}
  

.page-container {
width: 1200px;
margin: 0 auto;
}

.logo {
display: block;
margin: 0 auto;
padding-top: 51px;
padding-bottom: 83px;
}


.reasons-title {
padding-top: 98px; 
margin-top: 0;
margin-bottom: 29px;
font-size: 24px;
line-height: 28px;
color: #000000;
font-weight: 700;
text-transform: uppercase;
}


.reason-block {
color: #ffffff;
}

.advices-title {
font-size: 24px;
line-height: 28px;
font-weight: 700;
color: #000000;
text-transform: uppercase;
}

ol {
padding: 0;
}

.advices-list {
padding: 0;
list-style: none;
display: flex;
}

.reasons-list {
display: flex;
flex-wrap: wrap;
list-style: none;
}


.first-wrapper {
display: flex;
flex-wrap: wrap;
}

.first {
color: #ffffff;
background-color: #83B3D3;
font-size: 18px;
line-height: 21px;
width: 400px;
height: 384px;
text-align: center;
}


.home {
color: #333333;
background-color: #F0F6FA;
font-size: 18px;
line-height: 21px;
font-weight: 400;
text-align: center;
width: 400px;
margin: 0 0;
}

.advices-home {
display: flex;
justify-content: center;
margin-bottom: 79px;
}


.food {
color: #333333;
background-color: #ffffff;
font-size: 18px;
line-height: 21px;
font-weight: 400;
width: 400px;
text-align: center;
margin: 0 0;
}


.advices-food {
display: flex;
justify-content: center;
margin-bottom: 79px;
}


.souvenirs {
color: #333333;
background-color: #F0F6FA;
font-size: 18px;
line-height: 21px;
font-weight: 400;
width: 400px;
text-align: center;
margin: 0 0;
}

advices-souvenirs {
display: flex;
justify-content: center;
margin-bottom: 79px;
}

.second-wrapper {
display: flex;
flex-direction: row-reverse;
}

.second {
color: #ffffff;
background-color: #83B3D3;
font-size: 18px;
line-height: 21px;
width: 400px;
height: 384px;
text-align: center;
}

  .third {
color: #333333;
background-color: #F0F6FA;
font-size: 18px;
line-height: 21px;
font-weight: 400;
width: 400px;
text-align: center;
}

.fourth {
color: #333333;
background-color: #E6F0F6;
font-size: 18px;
line-height: 21px;
font-weight: 400;
width: 400px;
text-align: center;
}


.fifth {
color: #333333;
background-color: #F0F6FA;
font-size: 18px;
line-height: 21px;
font-weight: 400;
width: 400px;
text-align: center;
}

.reasons-description {
display: flex;
margin-bottom: 136px;
justify-content: center;
}

.button {
font-family: inherit;
font-size: 20px;
line-height: 26px;
font-weight: 700;
text-align: center;
color: #ffffff;
border-radius: 4px;
}

.main-title {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
padding-top: 63px;
color: #000000;
margin: 0;
}

.reasons-top {
font-size: 22px;
font-weight: 400;
line-height: 36px;
text-align: center;
padding-bottom: 80px;
margin-top: 31px;
margin-bottom: 0;
}


.appointment {
width: 1200px;
margin: 0 0;
justify-content: space-between;
flex-direction: row;
text-align: center;
align-items: stretch;
}


.appointment-title {
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: center;
color: #000000;
text-transform: uppercase;
margin-top: 91px;
margin-bottom: 0;
}


.appointment-text {
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
padding-top: 29px;
padding-bottom: 56px;
margin: 0;
}


.page-footer-container {
display: flex;
width: 1200px;
margin: 0;
}

.search-hotel {
width: 575px;
height: 60px;
font-size: 20px;
font-weight: 700;
line-height: 36px;
color: #ffffff;
background-color: #756257;
border-radius: 10px;
border: 0;
text-transform: uppercase;
font-family: inherit;
margin-bottom: 93px;
}

.contacts {
font-weight: 700;
}

.promo {
background-image: url("../images/index-background.jpg");
background-color: #E6F0F6;
background-size: cover;  
}

.subscription-footer-index {
background-image: url("../images/background.jpg");
background-color: #E6F0F6;
background-size: cover;
text-align: center;
}


.newsletter-form {
display: grid;
grid-template-columns: 200px 6000px 200px 200px;
grid-template-areas:
". m  b . "
}

.field {
grid-area: m;
}

.submit {
grid-area: b; 
}


.catalog-header{
background-image: url("../images/catalog-background1.jpg");
background-color: #E6F0F6;
background-size: cover;
}

.subscription{
font-size: 22px;
font-weight: 400;
line-height: 26px;
color: #ffffff;
text-align:center;
margin-top: 29px;
margin-bottom: 46px;
}


.subscription-title {
font-size: 30px;
line-height: 36px;
font-weight: 700;
color: #ffffff;
text-transform: uppercase;
padding-top: 94px;
margin: 0;
}

.subscription-title-hotel {
color: #000000;
}

.subscription-hotel {
 color: #333333; 
}

.footer-social {
width: 137px;
margin-left: 72px;
margin-right: 31px;
}

.footer-contacts {
padding: 0; 
text-align: center;
width: 720px;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color: #000000;
}

.footer-social-list {
display: flex;
flex-wrap: wrap; 
margin: 0;
padding: 0;
list-style-type: none;
}

.footer-social-item {
width: 21px;
height: 18px;
margin-right: 29px; 
}

a { 
color:#000000; 
text-decoration:none;
}


.htmlacademy-link {
  padding-top: 42px;
  margin: 0;
}

.about-text {
width: 115px;
margin-right: 72px;
margin-left: auto;
}

.newsletter-button {
width: 200px;
height: 61px;
font-size: 20px;
font-weight: 700;
line-height: 26px;
color: #ffffff;
background-color: #83B3D3;
border: 0;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
margin-bottom: 94px;
}


.filter-apply {
width: 160px;
height: 48px;
font-size: 16px;
font-weight: 700;
line-height: 20px;
color: #ffffff;
background-color: #83B3D3;
border: 0;
}

.filter-reset {
width: 160px;
height: 23px;
font-weight: 400;
font-size: 18px;
color: #ffffff;
border: 0;
}


.inner-header-title {
font-size: 60px;
line-height: 77px;
font-weight: 700;
color: #ffffff;
padding-top: 35px;
margin: 0;
padding-left: 71px;
}

.breadcrumbs {
color: #ffffff;
display: flex;
margin: 0;
padding: 0; 
list-style-type: none;
}

.breadcrumbs-link {
color: inherit;
font-size: 16px;
padding-left: 71px;
}


.catalog-filter {
width: 1057px;
margin-left: 72px;
margin-right: 72px;
padding-bottom: 83px;
}

.catalog-filter-item {
line-height: 23px;
color: #ffffff;
}

.catalog-right-column {
padding: 0 72px;
}

.catalog-filter-title {
font-size: 20px;
line-height: 25px;
font-weight: 700;
color: #ffffff;
}

.control-label {
font-weight: 700;
}

.results-all {
font-size: 30px;
font-weight: 700;
line-height: 38px;
color: #000000;
text-transform: uppercase;
margin-left: 71px;
margin-top: 50px;
}

.sorting-container {
display: flex; 
color: #000000;
background-color: #ffffff;
}

.product-card {
background-color: #ffffff;
margin: 0 18px 10px 0;
width: 340px;
}

.product-card-link {
text-decoration: none;
}

/*
.hotels-list {
display: flex;
flex-wrap: wrap;
padding: 0;
list-style-type: none;
}
*/

.hotels-list {
display: grid;
padding: 0;
list-style-type: none;
grid-template-columns: 340px 340px 340px; 
gap: 18px; 
margin: 0;
margin-bottom: 34px;
column-gap: 18px;
row-gap: 10px;
}

li.product-card:nth-child(3) {
margin-right: 0;
}

.amara {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
}

.desert {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
}

.villas {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
}

.greentree {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
}


.product-list {
list-style-type: none;
margin: 0;
padding: 0;
}

.catalog-type-hotels {
font-size: 18px;
line-height: 23px;
font-weight: 400 ;
color: #333333;
width: 133px;
height: 23px;
}

.product-card-price {
font-size: 18px;
line-height: 23px;
font-weight: 400 ;
color: #333333;
width: 143px;
height: 23px;
margin: 0;
}


.product-card-title {
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: #000000;
margin: 16px 0;
}


.to-favorites {
width: 140px;
height: 37px;
font-size: 16px;
font-weight: 700;
color: #ffffff;
background-color: #83B3D3;
border: 0;
text-transform: uppercase;
display: inline-block;
margin-top: 25px;
}


.favorites {
width: 140px;
height: 37px;
font-size: 16px;
font-weight: 700;
color: #ffffff;
background-color: #7DB54F;
border: 0;
text-transform: uppercase;
display: inline-block;
margin-top: 25px;
}



.catalog-pagination {
text-align: center;
}

.pagination-container {
display: flex;
padding: 16px; 
background-color: #ffffff;
}


.pagination-link {
color: #ffffff;
background-color: #83B3D3;
text-decoration: none;
line-height: 17px;
font-weight: 700;
display: block;
padding: 19px 0;
border-radius: 4px;
}


.current-page {
color: #000000;
background-color: #F2F2F2;
}





.pagination-item {
width: 55px;
font-size: 20px;
line-height: 25px;
font-weight: 700;
text-align: center;
color: #ffffff;
border: 0px;
border-radius: 4px;
display: inline;
margin-right: 8px;
}

.pagination-item:not(:last-child) {
margin-right: 9px;
}



.product-card-about  {
font-size: 16px;
font-weight: 700;
color: #ffffff;
background-color: #756257;
text-transform: uppercase;
display: inline-block;
margin-top: 25px;
padding: 5px 23px 6px;
}


.pagination {
display: flex;
margin: 0;
padding: 0;
text-align: left;
padding-top: 60px;
list-style-type: none;
}



.sorting {
text-align: right;
}

.hotel-rating {
font-size: 16px;
font-weight: 400;
color: #333333;
background-color: #f2f2f2;
text-transform: uppercase;
padding: 8px 33px;
border-radius: 4px;
display: inline-block;
margin-top: 16px;
margin-bottom: 20px;
}

.stars {
width: 130px;
height: 30px;
}

.pagination-show-more {
width: 619px;
height: 60px;
font-size: 20px;
font-weight: 700;
color: #ffffff;
background-color: #83B3D3;
text-transform: uppercase;
border: 0px;
margin-left: auto;
margin-top: 30px;
}